input,i{
    margin-bottom: 10px;
}
.container{
    background-color: white;
}

.text-center{
    font-size: 30px;
    color: rgb(89, 202, 136);
}
.text-center{
    color: rgb(31, 141, 141);
}